%btn {
  padding: 10px 20px;
  background: white;
  border: 1px solid $colour_main_light-grey;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn {
  @extend %btn;
}

.btn-primary {
  @extend %btn;
  background: $colour_main;
  border: 1px solid darken($colour_main, 15%);
  color: contrasting-color($colour_main, white, black);
}