form {
  &.width-lg {
    max-width: 600px;
  }
}

.form-group {
  margin-bottom: 30px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, select {
    display: block;
    border: 1px solid $colour_main_light-grey;
    padding: 10px;
    height: 40px;
    width: 100%;

    //add a bit of spacing for multiple inputs inside one form group
    & + input, & + select {
      margin-top: 10px;
    }
  }

  .checkbox {
    position: relative;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 0;

    input[type=checkbox] {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 1px;
    }

  }

  .checkboxes {
    display: flex;
    flex-direction: column;

    &._inline {
      flex-direction: row;

      .checkbox {
        & + .checkbox {
          margin-left: 15px;
        }
      }
    }
  }

  //modifier that puts the label next to input, defaults to above input, wip not working
  ._inline & {
    & > label {
      border: 1px solid $colour_main_light-grey;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .input-label {
      margin: auto 0;
      width: 15%;
      min-width: 100px;
      padding: 10px;
    }

    input {
      width: 85%;
      border-top: 0;
      border-bottom: 1px solid $colour_main_light-grey;
      border-right: 0;
      border-left: 1px solid $colour_main_light-grey;

      & + input {
        margin-left: auto;
        border-top: 1px solid $colour_main_light-grey;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

  }

}