.table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    border-bottom: 1px solid $colour_main_light-grey;
  }

  th, td {
    padding: 10px;

    ._slim & {
      padding: 5px;
    }
  }

  &._fixed {
    table-layout: fixed;
  }

  &._bordered {
    th, td {
      border: 1px solid $colour_main_light-grey;
    }
  }

  &._striped {

  }

  &._shaded {
    th, td {
      background: $colour_main_light-grey;
    }
  }

  &._lined {
    td {
      border-bottom: 1px solid $colour_main_light-grey;
    }
  }

  &._stack {
    @include all-breakpoints() {
      thead, th {
        display: none;
      }

      td {
        display: block;

        &::before {
          font-weight: bold;
          display: inline-block;
          margin-right: 10px;
          content: attr(data-th);
        }

        &:last-child {
          margin-bottom: 30px;
        }
      }

      &._bordered {
        td {
          border-bottom: 0;

          &:last-child {
            border-bottom: 1px solid $colour_main_light-grey;
          }
        }
      }

    }
  }
}